/* body{background: url(https://images.wallpaperscraft.ru/image/single/noutbuk_ekran_rabochij_stol_178819_1920x1080.jpg);} */
 

.право{width: 200px;
    height: 300px;
    color: rgb(255, 255, 255);
}

.лево{ margin-left: 900px;
    width: 300px;
    height: 50px;;
}
.верх{width: 1920px;
    height: 200px;
    display: flex;
}
ul{ display: flex;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(253, 253, 253);
}
li{ font-size: x-large;
    list-style-type: none;
    margin-left: 60px;
    margin-bottom: 60px;
}
h1{
    font-size:xx-large;
}
.центр{text-align: center;
    width: 500px;
    height: 400px;
    margin-top: 200px ; 
  margin-left: 800px;
  color: rgb(255, 255, 255);
}
.main{
    width: 1920px;
    height: 1080px;
    background: url(https://images.wallpaperscraft.ru/image/single/noutbuk_ekran_rabochij_stol_178819_1920x1080.jpg);
}
h2{
    font-size: 35px;
    font-style: normal;
}
h3{
    font-style: normal;
    font-size: 20px;
}
button{
    border: 3px solid white;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    color: whitesmoke;
    
}
h6{
    font-size: xx-large;
    text-align: center;
}
.line{
   background-color: black;
    width: 60px;
    height: 2px;
 margin-left: 915px;
}
.rtx{background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 300px;
    margin-top: 100px;
  margin-left: 450px;
  display: flex;
  
}
.one{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgba(102, 255, 0, 0.801);
  margin: auto;
}
.two{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
border-radius: 100px;
margin: auto;
}
.three { 
    width: 150px;
    height: 150px;
    background-color: rgb(0, 17, 255);
    border-radius: 100px;
    margin: auto;}
    .three:hover, .one:hover, .two:hover{
        background-color: rgb(0, 0, 0);
    }
    .down{
        width: 1920px;
        height: 200px;
        background-color: rgba(218, 42, 42, 0.842);
        display: flex;
        display: flex;
        justify-content: center;
    }
    .ptx{
        width: 50px;
        height: 50px;
        background-color: rgb(60, 184, 255);
        border-radius: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .ptx:hover{
        background-color: honeydew;
    }