h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    color: rgb(34, 34, 34);
}
h3{
    font-size: 28px;
    
}
h4{
    font-size: 28px;
}
h5{
    font-size: 20px;
}
a{font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px rgb(0, 217, 255) solid;
}
body{
    background-color: rgb(255, 231, 167);
}
.main-top{
    width: 1000px;
    height: 300px;
    background-color:rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616582465_54-p-chernii-fon-gradient-61.jpg);
}
.main-bottom{  
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction:  column;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 50px;
    background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616582465_54-p-chernii-fon-gradient-61.jpg);
}
.lessons-1{
    width: 230px;
    height: 120px;
    background-color: rgb(205, 226, 21);
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}
.lessons-2{
    width: 230px;
    height: 120px;
    background-color: rgb(44, 179, 27);
    margin-left: 80px;
}
.div-top{
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div-top-2{
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div-bottom-2{
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}






.height{
    width: 230px;
    height: 58px;
    display: flex;
    align-items: center;
}
.down{
    width: 230px;
    height: 58px;
    margin-top: 2px;
}